.goal-detail {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.goal-name {
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.goal-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.goal-dates {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.goal-amounts {
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.days-left {
    font-size: 14px;
    color: #888;
}


.progress-container {
    margin-top: 15px;
}

/* Đảm bảo thanh tiến trình có chiều cao và các thuộc tính cần thiết */
.progress {
    height: 0.4rem;
    background-color: #eff4f8;
    border-radius: 0.30rem;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    transition: width 0.6s ease;
    color: white; /* Màu chữ */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: bold;
    transition: width 0.4s ease;
}

/* Gradient đỏ cho thanh tiến trình */
.heets-gradient-danger {
    background: linear-gradient(90deg, #fe7070, #ff4757);
}

.heets-gradient-warning {
    background: linear-gradient(90deg, #ffbe5d, #ff8f2e);
}

.heets-gradient-success {
    background: linear-gradient(90deg, #83ff5d, #1fdb51);
}
.circle {
    border-radius: 50%; /* Làm tròn hình ảnh */
    width: 2.7rem;       /* Đảm bảo hình ảnh có kích thước cố định */
    height: 2.7rem;      /* Chiều cao bằng với chiều rộng */
    background-color: antiquewhite;

   
}




/* Khoảng cách và căn chỉnh */
td, th {
    padding: 16px 12px;
    vertical-align: middle;
}

.custom-alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    padding: 1rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
  }
  
  .custom-alert-success i {
    margin-right: 10px;
    font-size: 1.5rem;
    color: #28a745;
  }
  