.fas.fa-calendar-alt {
    margin-right: 5px;
}

.link-orange {
    color: #ff8c00; 
    text-decoration: none; 
    font-size: 16px; 
    font-weight: bold;
    transition: color 0.3s ease; 
}

.link-orange:hover {
    color: #ff6b00;
}

.action-buttons {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
}

.action-buttons span {
    cursor: pointer; 
    font-size: 16px; 
}

.category-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.category-info {
    display: flex;
    align-items: center;
}

.category-info-placeholder {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
