.page-btn {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 0 2px;
    background-color: #f8f9fa;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.page-btn:hover {
    background-color: #e9ecef;
}

.page-btn-active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.page-btn:focus {
    outline: none;
}

.btn-custom-size {
    min-width: 6rem; 
    min-height: 2.5rem;
    background-color: #b199fd; 
    color: white;
    border-radius: 0.375rem;
    border: 0.2rem solid transparent;
    display: inline-block; 
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease; 
}

.btn-custom-size:hover {
    background-color: white;
    color: #b199fd;
    border-color: #b199fd; 
    cursor: pointer;
}

.btn-custom-size img {
    width: 1rem;
    height: auto; 
    margin-right: 0.5rem; 
    margin-bottom: 0.2rem;
}

.btn-custom {
    min-width: 1rem; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 0.8rem 0.8rem 0.8rem 0.8rem; 
    font-size: 1rem;
    border-radius: 0.375rem;
}

.btn-edit-success {
    background-color: #28a745;
    color: white;
    border: none; 
}

.btn-custom-danger {
    background-color: #dc3545; 
    color: white;
    border: none; 
}

.btn-edit{
    min-width: 1rem; 
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 0.7rem 0.7rem 0.7rem 0rem;
    font-size: 1rem; 
    border-radius: 0.375rem;
}

.btn-container {
    display: flex; 
    justify-content: center;
    gap: 0.5rem; 
}