.page-btn {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 0 2px;
    background-color: #f8f9fa;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.page-btn:hover {
    background-color: #e9ecef;
}

.page-btn-active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.page-btn:focus {
    outline: none;
}

.btn-custom-size {
    min-width: 6rem; /* Kích thước tối thiểu */
    min-height: 2.5rem;
    background-color: #b199fd; /* Màu nền mặc định */
    color: white; /* Màu chữ mặc định */
    border-radius: 0.375rem; /* Bo góc */
    border: 0.2rem solid transparent; /* Viền mặc định là trong suốt */
    display: inline-block; /* Đảm bảo nút không bị kéo dài */
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease; /* Hiệu ứng chuyển màu nền, chữ và viền */
}

.btn-custom-size:hover {
    background-color: white; /* Màu nền khi hover */
    color: #b199fd; /* Màu chữ khi hover */
    border-color: #b199fd; /* Màu viền khi hover */
    cursor: pointer; /* Con trỏ khi hover */
}

.btn-custom-size img {
    width: 1rem; /* Điều chỉnh kích thước hình ảnh */
    height: auto; /* Đảm bảo tỷ lệ hình ảnh được giữ nguyên */
    margin-right: 0.5rem; /* Khoảng cách giữa hình ảnh và chữ */
    margin-bottom: 0.2rem;
}

.btn-custom {
    min-width: 1rem; /* Điều chỉnh kích thước tối thiểu của nút */
    display: flex; /* Sử dụng Flexbox để căn giữa nội dung */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    padding: 0.8rem 0.8rem 0.8rem 0.8rem; /* Padding để đảm bảo nút không quá nhỏ */
    font-size: 1rem; /* Kích thước chữ */
    border-radius: 0.375rem; /* Bo góc */
}

.btn-edit-success {
    background-color: #28a745; /* Màu nền của nút thành công */
    color: white; /* Màu chữ của nút thành công */
    border: none; /* Không có viền */
}

.btn-custom-danger {
    background-color: #dc3545; /* Màu nền của nút xóa */
    color: white; /* Màu chữ của nút xóa */
    border: none; /* Không có viền */
}

.btn-edit{
    min-width: 1rem; /* Điều chỉnh kích thước tối thiểu của nút */
    display: flex; /* Sử dụng Flexbox để căn giữa nội dung */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    padding: 0.7rem 0.7rem 0.7rem 0rem; /* Padding để đảm bảo nút không quá nhỏ */
    font-size: 1rem; /* Kích thước chữ */
    border-radius: 0.375rem; /* Bo góc */
}

.btn-container {
    display: flex; /* Sử dụng Flexbox để căn chỉnh các nút theo hàng */
    justify-content: center; /* Căn giữa các nút theo chiều ngang */
    gap: 0.5rem; /* Khoảng cách giữa các nút */
}