.header {
    background-color: #f8f9fa;
  }
  
  .settings-icon {
    cursor: pointer;
  }
  
  .user-avatar img {
    width: 50px;
    height: 50px;
  }

.widget-media {
  scrollbar-width: thin; 
  scrollbar-color: #888 #f1f1f1; 
}

.widget-media::-webkit-scrollbar {
  width: 10px;
}

.widget-media::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.widget-media::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
  transition: background-color 0.3s; 
}

.widget-media::-webkit-scrollbar-thumb:hover {
  background: #555;
}
