.icon {
    width: 50px; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
}

.bg-gradient-primary {
    background: linear-gradient(87deg, #11cdef 0, #1171ef 100%);
}

.bg-gradient-danger {
    background: linear-gradient(87deg, #fb6340 0, #f5365c 100%);
}

.bg-gradient-success {
    background: linear-gradient(87deg, #2dce89 0, #17a674 100%);
}

.bg-gradient-info {
    background: linear-gradient(87deg, #11cdef 0, #1171ef 100%);
}

.icon-shape {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.125) !important;
}

.text-lg {
    font-size: 1.5rem;
}


.table-custom .text-success {
    color: #28a745 !important; 
}

.table-custom .text-danger {
    color: #dc3545 !important; 
}

.table-custom .text-info {
    color: #17a2b8 !important; 
}

.table-custom .text-primary {
    color: #007bff !important;
}

.card-body p {
    color: #000; /* Đảm bảo văn bản có màu sắc đủ để nhìn thấy */
}

