    <!-- header -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff">

     <tr>
         <td align="center">
             <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                 <tr>
                     <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                 </tr>

                 <tr>
                     <td align="center">

                         <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                             <tr>
                                 <td align="center" height="70" style="height:70px;">
                                     <a href="" style="display: block; border-style: none !important; border: 0 !important;"><img width="100" border="0" style="display: block; width: 100px;" src="https://firebasestorage.googleapis.com/v0/b/dax-bemoney.appspot.com/o/logoemail%2F1.png?alt=media&token=8c9d3261-a4d9-4e3a-bc83-c1b780953003

                                        " alt="" /></a>
                                 </td>
                             </tr>
                         </table>
                     </td>
                 </tr>

                 <tr>
                     <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                 </tr>

             </table>
         </td>
     </tr>
 </table>
 <!-- end header -->