.card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-title {
    font-size: 1.25rem;
}

.info-box {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
    display: contents;
    
}
.btn-submit{
    float: right;
    margin-right: 80px;
    width: 80px;
}
.form-control[readonly] {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.profile-avatar {
    width: 150px;
    height: 150px; 
    object-fit: cover;
    border-radius: 50%; 
}

.avatar-section {
    position: relative;
    text-align: center;
}

.form-control-sm {
    font-size: 14px;
    padding: 8px;
    height: auto; 
}
