.fas.fa-calendar-alt {
    margin-right: 5px;
}

.link-orange {
    color: #ff8c00;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.link-orange:hover {
    color: #ff6b00;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.action-buttons span {
    cursor: pointer;
    font-size: 16px;
}

.category-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.category-info {
    display: flex;
    align-items: center;
}

.category-info-placeholder {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chitiet {
    text-decoration: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.btn-primary-custom {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-secondary-custom {
    padding: 10px 20px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    transition: background-color 0.3s ease;
}

.btn-primary-custom:hover {
    background-color: #0056b3;
}

.btn-secondary-custom:hover {
    background-color: #5a6268;
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
    }

    .btn-primary-custom,
    .btn-secondary-custom {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px;
    }
}
