.custom-date-style {
    font-size:smaller;
    color: #fff; 
    font-weight: bold;
    background-color: #78c3f9; 
    padding: 0.2rem;
    border-radius: 8px;
  }
 
  @media (max-width: 768px) {
    .table th, .table td {
        font-size: 12px; 
    }
    .table img {
        width: 40px; 
        height: 40px;
    }
}
